<div class="content-wraper">

  <div class="container-fluid" style="padding: 0px;">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Draw Events List</h4>
              <a class="heading-elements-toggle">
                <i class="icon-more"></i>
              </a>
            </div>
          </div>

          <div class="breadcrumb-line">
            <a class="breadcrumb-elements-toggle">
              <i class="icon-menu-open"></i>
            </a>
            <ul class="breadcrumb">
              <li>
                <a routerLink="/producer/dashboard">
                  <i class="icon-home2 position-left"></i> Home</a>
              </li>
              <li class="active">Draw Events List</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card p-2">
          <div class="card-body row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-b-10">
              <input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search Records">
            </div>            
          </div>
        </div>

        <div class="card m-t-10">
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" (click)="sort('event_name')">Name
                      <span style="color: #00BCD4;">&#x21C5;</span>
                    </th>
                    <th scope="col" (click)="sort('from_date')">Date/From-To
                      <span style="color: #00BCD4;">&#x21C5;</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let events of eventsListData;let i=index">
                    <td>{{page_from + i+1}}</td>
                    <td> <a [routerLink]="['/event_details',events?._id]" class="link-btn">{{events.event_name}}</a></td>
                    <td>{{events.from_date | date: 'dd/MM/yyyy'}}-{{events.to_date | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>