<div class="content-wraper">


  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card p-2">
          <div class="card-body row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 m-b-10">
              <input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Search Records">
            </div>            
          </div>
        </div>

        <div class="card m-t-10">
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" (click)="sort('event_name')">Name
                      <span style="color: #00BCD4;">&#x21C5;</span>
                    </th>
                    <th scope="col" (click)="sort('from_date')">Date/From-To
                      <span style="color: #00BCD4;">&#x21C5;</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let events of eventsListData;let i=index">
                    <td>{{page_from + i+1}}</td>
                    <td> <a [routerLink]="['/layout/event_details',events?._id]" class="link-btn">{{events.event_name}}</a></td>
                    <td>{{events.from_date | date: 'dd/MM/yyyy'}}-{{events.to_date | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>